/* 🍇 css reset */

html,
body,
div,
span,
applet,
h1,
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    font-family: "Poppins", sans-serif;
    color: rgb(49, 49, 49);
}

a{
    text-decoration: none;
    color:rgb(49, 49, 49) ;
}

/* 🥭 Global Css */
.container {
    width: 1128px;
    height: auto;
    margin: auto;
}
.two-3-container {
    width: 703px;
    height: auto;
}
.one-3-container {
    width: 425px;
    height: auto;
}
.flex {
    display: flex;
}

.flex > div {
    margin: 8px;
}

p {
    line-height: 25px;
}

.button {
    background: #ffbf86;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formInput{
    border: none;
    background: #f5f5f5;
    width: 100%;
    display: inline-block;
    padding: 13px;
    border-radius: 5px;
    margin-top: 5px;
}

::placeholder{
    color: #b3b0b0;
}

/* 🍉 1st section */
#section-1 {
    margin-top: 10px;
}
#motoLeftBorder {
    background: #ffbf86;
    height: 100%;
    width: 4px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50px;
}

#motoContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 15px;
}
#moto-h1 {
    font-size: 60px;
    font-family: "Yeseva One", cursive;
    padding-left: 12px;
}
#moto-h1 > span {
    color: #97bfb4;
}

#imageContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 425px;
    width: 425px;
}

/* 🍒 section 2 */
#section-2 {
    margin-top: 100px;
}
#section-2-header {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
#section-2-header > span {
    color: #97bfb4;
}

#missionCardSection {
    margin-top: 20px;
    margin-bottom: 20px;
}

#missionCard-1 {
    height: 360px;
    width: 360px;
    background: #edf5f6;
    border-radius: 10px;
    padding: 25px;
}
#missionCard-2 {
    height: 360px;
    width: 360px;
    background: #ffeeee;
    border-radius: 10px;
    padding: 25px;
}
#missionCard-3 {
    height: 360px;
    width: 360px;
    background: #fff4d6;
    border-radius: 10px;
    padding: 25px;
}

.missionCardImage {
    height: 40%;
    width: 100%;
    overflow: hidden;
}
.missionCardImage > img {
    height: 110px;
}

.missionCardBottom {
    height: 60%;
    width: 100%;
}

.missionCardBottom h2 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
}

/* 🍓 + 🍑 section 3 and 4 */

.imageContainer-1{
    width: 1400px;
    margin: auto;
    background-image: url("./images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-y: 30%; 
}
.imageContainer-2{
    width: 1400px;
    margin: auto;
    background-image: url("./images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right;
}

#section-3 {
    margin-top: 80px;
}
.section-3-and-4-image {
    height: 400px;
    width: 400px;
    overflow: hidden;
}
.section-3-and-4-image img {
    height: 100%;
    width: 100%;
}

.section-3-and-4-moto {
    margin-top: 25px;
    padding: 20px;
}

.section-3-and-4-moto h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 10px;
}

#section-4 {
    margin-top: 80px;
}

/* 🍏 section-5 contact me */
#section-5{
    margin-top: 80px;
}
#section-5 h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 46px;
    padding-bottom: 30px;
    text-align: center;
}
#section-5 span {
    color: #97bfb4;
}

#contact-forum-img img{
    height: 400px;
    width: 400px;
}
#section-5-form{
    height: auto;
    width: 80%;
    margin: auto;
}

.inputContainer{
    margin-top: 25px;
    margin-bottom: 25px;
}

#formButtonContainer{
    width: 100%;
    height: auto;
    text-align: center;
}


/* 🍍 footer part */
#footer {
    margin-top: 80px;
    background: #000;
    color: white;
    text-align: center;
    padding: 20px;
}

#footer-h1 {
    font-family: "Lobster", cursive;
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 10px;
}

#footer-h1 span {
    color: #97bfb4;
}
